# Version: 4.1.1 (Using https://semver.org/)
# Updated: 2022-05-23
# See https://github.com/RehanSaeed/EditorConfig/releases for release notes.
# See https://github.com/RehanSaeed/EditorConfig for updates to this file.
# See http://EditorConfig.org for more information about .editorconfig files.
##########################################
# Common Settings
##########################################
# This file is the top-most EditorConfig file
root = true
[*]
tab_width = 4
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# Jupyter Notebook Files
[*.{ipynb, nb, py, pyx, pxi, pxd}]
tab_width = 4
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# Matches the exact files either package.json or .travis.yml
[*.{package.json, package-lock.json, .eslintrc.json, .prettierrc.json, .travis.yml, LICENSE, VERSION}]
tab_width = 2
indent_size = 2
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# JSON Files
[*.{json, json5, jsonc, webmanifest}]
tab_width = 2
indent_size = 2
end_of_line = crlf
indent_style = space
trim_trailing_whitespace = true
[*.{js, cjs, mjs, ts, cts, mts, jsx, tsx, java, vue, svelte}]
tab_width = 2
indent_size = 2
end_of_line = crlf
indent_style = space
trim_trailing_whitespace = true
[*.{c, cpp, h, hpp, cs, pas, nim}]
tab_width = 2
indent_size = 2
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# Visual Studio XML Project Files
[*.{csproj, vbproj, vcxproj.filters, proj, projitems, shproj}]
tab_width = 2
indent_size = 2
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# Visual Studio Solution Files
[*.sln]
tab_width = 2
indent_size = 2
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# XML Configuration Files
[*.{xml, config, props, targets, nuspec, resx, ruleset, vsixmanifest, vsct}]
tab_width = 2
indent_size = 2
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# YML, YAML Files
[*.{yml, yaml}]
tab_width = 2
indent_size = 2
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# Markdown Files
[*.{md, mdx}]
tab_width = 2
indent_size = 2
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# Batch Files
[*.{cmd, bat}]
tab_width = 2
indent_size = 2
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# Bash Files
[*.sh]
tab_width = 2
indent_size = 2
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# Makefiles
[Makefile]
tab_width = 2
indent_size = 2
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true